<div class="container-fluid content">
  <%= form_tag flights_path, method: :get do %>
    <div class="form-group">
      <%= label_tag :from, "From" %>
      <%= select_tag :from, options_from_collection_for_select(@airports, 'id', 'location'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :to, "To" %>
      <%= select_tag :to, options_from_collection_for_select(@airports, 'id', 'location'), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :number_of_passengers, "Passengers" %>
      <%= select_tag :number_of_passengers, options_for_select((1..4).to_a), class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= label_tag :date, "Date" %>
      <%= select_tag :date, options_for_select(@avaliable_dates), class: 'form-control' %>
    </div>
    <div class="form-group text-center">
      <%= submit_tag 'Search', class: "btn primary" %>
    </div>
  <% end %>
</div>
